Listázzuk az "emese" azonosítójú ügyfél foglalásainak azonosítóit és a foglalás kezdetének dátumát!

a. Egy új oszlopban jelenítsük meg, hogy mi lenne a foglalás kezdődátuma, ha azt 1 hónappal későbbre tolnánk!

b. Az új oszlop neve legyen 'Módosított kezdődátum'

In [11]:
SELECT UGYFEL_FK, METTOL, dateadd(month,1,METTOL) as'Módosított kezdődátum'
from Foglalas
where UGYFEL_FK = 'emese'

UGYFEL_FK,METTOL,Módosított kezdődátum
emese,2016-07-22,2016-08-22
emese,2016-08-09,2016-09-09
emese,2016-09-27,2016-10-27
emese,2016-11-05,2016-12-05
emese,2016-11-23,2016-12-23
emese,2016-12-07,2017-01-07
emese,2017-01-30,2017-02-28