Listázzuk az "emese" azonosítójú ügyfél foglalásainak azonosítóit és a foglalás kezdetének dátumát!

a. Egy új oszlopban jelenítsük meg, hogy mi lenne a foglalás kezdődátuma, ha azt 1 hónappal későbbre tolnánk!

b. Az új oszlop neve legyen 'Módosított kezdődátum'

In [13]:
SELECT UGYFEL_FK, METTOL
from Foglalas
where UGYFEL_FK = 'emese'

UGYFEL_FK,METTOL
emese,2016-07-22
emese,2016-08-09
emese,2016-09-27
emese,2016-11-05
emese,2016-11-23
emese,2016-12-07
emese,2017-01-30